.about {
  width: 100%;
  min-height: 490px;
  margin: 0 auto;
  padding: 0;

  background-color: #f3f5f8;
}

.about__text {
  width: 742px;

  font-size: 14px;
  font-weight: 500;
  color: #8c9398;
}
