.page-header {
  width: 100%;
  min-height: 801px;
  margin: 0 auto;
  padding: 0;
  
  background-color: #dbe0e6;
}

.page-header__logo {
  width: 441px;
  height: 30px;

  margin: 0 auto;
  padding: 0;

  font-family: @second-font;
  color: #353535;
  font-size: 40px;
  line-height: 200px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-header__logo-right {
  color: #a1a9b0;
}