.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 165px;
  min-height: 60px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 40px;
  height: 40px;

  background-color: #000;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #3dc9b3;
  }
}

.social__link {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__link svg {
  margin: 0 auto;

  fill: #ffffff;
}

