.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 165px;
  min-height: 60px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social__item {
  position: relative;
  width: 40px;
  height: 40px;

  font-size: 0;
  text-align: center;

  background-color: #000;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: #3dc9b3;
  }
}

.social__logo {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  margin-left: -9px;
  margin-top: -9px;

  fill: #fff;
}
