.subscription {
  width: auto;
  min-height: 451px;

  background-color: #282b31;
}

.subscription__title {
  width: 331px;
  margin: 0 auto;

  font-family: @main-font;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__form {
  width: 555px;
  min-height: 130px;
  margin: 0 auto;
  padding: 0;
}
