.tasks {
  width: 100%;
  min-height: 731px;
}

.tasks__list {
  width: auto;

  list-style: none;
}

.tasks__item {
  width: 360px;
}

.tasks__title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #353535;
}

.tasks__description {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #8c9398;
}
