@menu-color: #283645;
@header-color: #1d2631;
@section-color: #f2f2f2;
@info-color: #d22856;
@btn-green: #2aab6d;

@main-font: "Open Sans Regular","Arial", sans-serif;
@light-font: "Open Sans Light", "Arial", sans-serif;
@bold-font: "Open Sans Bold", "Arial", sans-serif;

@block-outline: 2px solid red;
@section-outline: 2px solid greenyellow;
@element-border: 2px solid orange;

